<div class="container-fluid">
  <h2>USER LOGIN</h2>
</div>

<div class="example-container">
  <form [formGroup]="users">
    <!-- <form class="example-form"> -->
    <mat-form-field class="email" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="password" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <h3><a href="#">Forgot Password</a></h3>
<div class="submit">
         <button mat-raised-button (click)="login()" color="primary" style="margin: left 20px;"> Submit</button>
         
        </div>
    <!-- </form> -->
  </form>
  </div>


