
h2{
    text-align: center;
    color: #fff;
   background-color: rgb(126, 27, 218);
    padding: 5px;
}
.email{
    width: 100%;
}
.password{
    width: 100%;
}
input[type=password]{
    width: 100%;
}
.submit{
    text-align: center !important; 
    padding-top: 10px;
} 

h4{
    margin-top: 15px;
}
.mobile{
    width: 100%;
    padding-bottom: 10px;
}
.mat-checkbox{
    padding-top: 25px;
}
.mat-radio-group{
   margin-top: 25px;
}
.dob{
    width: 100%;
    padding-top: 10px;
}