.mat-toolbar.mat-primary {
  white-space: normal !important;
}
 .mat{
    margin-left: 50px;
  }
  .mat a{
    font-size: 16px;
    margin-left: 10px;
   
  }
  .btnicon{
  /* text-align: flex-end !important;
  float: right !important; 
  justify-content: right; */
  padding-left: 150px;
  }

  